///
/// Get a tone, when color name is 'all'
///
/// @private
///
/// @param {List|Map|String} $tones - color tone
/// @param {Map} $global-palette - global color palette
///
/// @return {Color|Null}
///
/// @example
///   sp-color-all(('exceptions': ('500')), $palette); // #ffab40
///   sp-color-all('600', $palette); // #546e7a
///   sp-color-all(('500', '600', '700'), $palette); //  #8bc34a
///

@function sp-color-all($tones, $global-palette: $palette) {
	$color-name: sp-random-of(map-keys($global-palette));
	$tones-map: map-get($global-palette, $color-name);
	@if type-of($tones) == 'list' {
		@return sp-tone-list($color-name, $tones-map, $tones, $global-palette);
	}
	@if type-of($tones) == 'map' and
	map-get($tones, 'exceptions') {
		$exceptions: map-get($tones, 'exceptions');
		// Get random tone of a chosen $color-name
		$tone: sp-random-of(map-keys(map-get($global-palette, $color-name)));
		@each $exception in $exceptions {
			// If chosen tone is exception, then chose a tone again
			@if $tone == $exception {
				$tone: call('sp-color-all', $tones, $global-palette);
			}
		}
		@return sp-color($color-name, $tone);
	}
	@if type-of($tones) == 'string' and
	map-has-key($tones-map, $tones) {
		@return map-get($tones-map, $tones);
	}
	@return null;
}
