Sassy-palette {
	color: sp-color('red', '900');
	color-all-tone-string: sp-random-color('all', '500');
	color-all-tone-list: sp-random-color('all', ('100', '200'));
	color-all-tone-map: sp-random-color('all', ('exceptions': ('700', '800', '900')));
	color-all-tone-all: sp-random-color('all', 'all');
	color-map: sp-random-color(('exceptions': ('green', 'blue')), '500');
	color-map-tone-all: sp-random-color(('exceptions': ('red', 'deep-purple') ), 'all');
	color-map-color-list: sp-random-color(('exceptions': ('green', 'blue')), ('800', '900'));
	color-map-tone-map: sp-random-color( ('exceptions': ('red', 'deep-purple') ), ('exceptions': ('500', '600')));
	color-string-tone-list: sp-random-color('red', ('800', '900'));
	color-string-tone-map: sp-random-color('red', ('exceptions': ('100', '200')));
}
