Sassy-palette {
	color: sp-color('red', '900', $palette);
	color-all-tone-string: sp-color-random('all', '500', $palette);
	color-all-tone-list: sp-color-random('all', ('100', '200'), $palette);
	color-all-tone-map: sp-color-random('all', ('exceptions': ('700', '800', '900')), $palette);
	color-all-tone-all: sp-color-random('all', 'all', $palette);
	color-map: sp-color-random(('exceptions': ('green', 'blue')), '500', $palette);
	color-map-tone-all: sp-color-random(('exceptions': ('red', 'deep-purple') ), 'all', $palette);
	color-map-color-list: sp-color-random(('exceptions': ('green', 'blue')), ('800', '900'), $palette);
	color-map-tone-map: sp-color-random( ('exceptions': ('red', 'deep-purple') ), ('exceptions': ('500', '600')), $palette);
	color-string-tone-list: sp-color-random('red', ('800', '900'), $palette);
	color-string-tone-map: sp-color-random('red', ('exceptions': ('100', '200')), $palette);
	color-list: sp-color-random(('red', 'green'), '500', $palette);
	color-list-tone-list: sp-color-random(('red', 'green'), ('100', '200'), $palette);
	color-list-tone-map: sp-color-random(('red', 'green'), ('exceptions': ('100', '200')), $palette);
}
